<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="Stay Peace"
	annotations="JDK" parallel="tests">
	<test name="Hostel Booking">
		<classes>
			<class name="com.guest.booking.HostelList" />
			<class name="com.guest.booking.HostelView" />
			<class name="com.guest.booking.HostelQuotePrice" />
			<class name="com.guest.booking.Booking" />
		</classes>
	</test>
	
	<test name="Hostel Creation">
		<classes>
			<class name="com.admin.addhostel.LoginPage" />
			<class name="com.admin.addhostel.CreateHostel" />
			<!-- <class name="com.admin.addhostel.AddRooms" /> -->
		</classes>
	</test>
</suite>